In [15]:
import pandas as pd
import numpy as np
import datetime

# import Clark County CSV, convert to data frame, add header row
df = pd.read_csv('raw_ev_data/clark/EV20161023.csv', names=['IDNUMBER'
        , 'NAME'
        , 'PRECINCT'
        , 'PARTY'
        , 'PARTY_ABBR'
        , 'CONGRESS'
        , 'ASSEMBLY'
        , 'SENATE'
        , 'COMMISSION'
        , 'EDUCATION'
        , 'REGENT'
        , 'SCHOOL'
        , 'CITY'
        , 'WARD'
        , 'TOWNSHIP'
        , 'STATUS'
        , 'EV_SITE'
        , 'ELECTION_CODE'
        , 'ACTIVITY_DATE'])
df
df.head()

,IDNUMBER,NAME,PRECINCT,PARTY,PARTY_ABBR,CONGRESS,ASSEMBLY,SENATE,COMMISSION,EDUCATION,REGENT,SCHOOL,CITY,WARD,TOWNSHIP,STATUS,EV_SITE,ELECTION_CODE,ACTIVITY_DATE
0,715112,"FIELDS, DAVID S",7605,2,REP,3,22,20,G,3,12,A,HEN,HN1,HEN,A,MBT072,16G,10/23/2016
1,687151,"TAYLOR, KATHLEEN ANN",7611,2,REP,3,22,20,G,3,12,A,HEN,HN2,HEN,A,MBT072,16G,10/23/2016
2,731577,"BOYER, JAY",7611,2,REP,3,22,20,G,3,12,A,HEN,HN2,HEN,A,MBT076,16G,10/23/2016
3,831852,"BAGDASARIAN, ZACHARY",7611,2,REP,3,22,20,G,3,12,A,HEN,HN2,HEN,A,GALLM12,16G,10/23/2016
4,868912,"SCHEDENECK, FREDERICK WM III",7611,2,REP,3,22,20,G,3,12,A,HEN,HN2,HEN,A,GALLM12,16G,10/23/2016

In [ ]:
# The file doesn't have time of voting, only date. An hourly breakdown isn't possible.